@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  font: 600 18px Roboto, sans-serif;
}

a {
  text-decoration: none;
}

#app {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh + 10rem);
  & main {
    flex: 1;
    display: flex;
    & section {
      height: 90vh;
      margin: 0 auto !important;
      border-radius: 5px;
      background: #eee;
      margin: auto;
      min-width: 350px;
      box-shadow: 10px 10px 1em gray;
    }
  }
}

@media (max-width: 700px) {
  #app {
    & main {
      & section {
        overflow: scroll;
      }
    }
  }
}

.anime-left {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
