#product-details {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  & #content {
    display: flex;
    height: 90%;
    flex-direction: row;
    flex-wrap: wrap;

    & #images-list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 2rem;
      flex-wrap: wrap;
      & img {
        border-radius: 10px;
        border: 1px solid gray;
        height: 250px;
        width: 200px;
        margin: 10px;
      }
    }

    & #product-infos {
      & span,
      & h1,
      & p {
        margin: 30px;
      }

      & h1 {
        color: rgb(74, 55, 124);
      }

      & span {
        padding: 0.5rem;
        background: rgb(99, 59, 199);
        color: white;
        border-radius: 5px;
      }

      & p {
        font-size: 1.2rem;
        line-height: 1.2;
      }
    }

    & #buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 2rem;

      & a {
        text-align: center;
        width: 100px;
        background-color: rgb(99, 59, 199);
        color: white;
        padding: 10px;
        border-radius: 5px;
        transition: 0.5s ease;

        &:hover {
          background-color: rgb(74, 55, 124);
        }
      }
    }
  }
}
